@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

body {
  /* Bone white background and near-black text */
  background-color: #f7f3ea;
  color: #0b0b0b;
}
